certifi==2025.8.3
charset-normalizer==3.4.3
cicflowmeter==0.4.2
deprecation==2.1.0
ecdsa==0.19.1
idna==3.10
joblib==1.5.2
numpy==1.26.4
packaging==25.0
pandas==2.3.2
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-jose==3.5.0
python-keycloak==3.3.0
pytz==2025.2
requests==2.32.5
requests-toolbelt==1.0.0
river==0.22.0
rsa==4.9.1
scapy==2.6.1
scikit-learn==1.3.0
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.5.0